spring:
  datasource:
    url: jdbc:oracle:thin:@//db19.payeshgaran.net:1521/iic_ins_dev
    username: life_application
    password: E3z18Cm0ZG
  jpa:
    hibernate:
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect
        format_sql: true